.profile__name {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 0;
  vertical-align: bottom;
  max-width: 330px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}

@media screen and (max-width: 680px) {
  .profile__name {
    text-align: center;
    font-size: 27px;
    line-height: 52px;
    width: 201px;
    padding-top: 2px;
    padding-left: 28px;
  }
}
