.profile__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 680px) {
  .profile__container {
    margin-top: 42px;
    flex-direction: column;
  }
}
