.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 330px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}

@media screen and (max-width: 680px) {
  .profile__title {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end:  3;
    width: 280px;
  }
}
