.elements__list{
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  gap: 21px 18px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1020px) {
  .elements__list {
    grid-template-columns: repeat(2, 282px);
    gap: 20px;
  }
}

@media screen and (max-width: 680px) {
  .elements__list {
    grid-template-columns: repeat(1, 282px);
  }
}
