@import url("./vendor/normalize.css");
@import url("./vendor/fonts/fonts.css");
@import url("./blocks/body/body.css");
@import url("./blocks/page/page.css");
@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/element/element.css");
@import url("./blocks/element/__name-place/element__name-place.css");
@import url("./blocks/element/__name-title/element__name-title.css");
@import url("./blocks/element/__image/element__image.css");
@import url("./blocks/element/__like-counter/element__like-counter.css");
@import url("./blocks/element/__button-like/element__button-like.css");
@import url("./blocks/element/__button-like/_active/element__button-like_active.css");
@import url("./blocks/element/__button-trash/element__button-trash.css");
@import url("./blocks/element/__button-trash/_visible/element__button-trash_visible.css");
@import url("./blocks/elements/elements.css");
@import url("./blocks/elements/__list/elements__list.css");
@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__add/profile__add.css");
@import url("./blocks/profile/__edit/profile__edit.css");
@import url("./blocks/profile/__image/profile__image.css");
@import url("./blocks/profile/__image-hover/profile__image-hover.css");
@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__name/profile__name.css");
@import url("./blocks/profile/__title/profile__title.css");
@import url("./blocks/profile/__container/profile__container.css");
@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/__close/popup__close.css");
@import url("./blocks/popup/__confirm/popup__confirm.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__area/popup__area.css");
@import url("./blocks/popup/__area/_add-card/popup__area_add-card.css");
@import url("./blocks/popup/__button/popup__button.css");
@import url("./blocks/popup/__button/_add-card/popup__button_add-card.css");
@import url("./blocks/popup/__button/_inactive/popup__button_inactive.css");
@import url("./blocks/popup/__fields/popup__fields.css");
@import url("./blocks/popup/__fields/_add-card/popup__fields_add-card.css");
@import url("./blocks/popup/__field/popup__field.css");
@import url("./blocks/popup/__field/_add-card/popup__field_add-card.css");
@import url("./blocks/popup/__field/_invalid/popup__field_invalid.css");
@import url("./blocks/popup/__field-error/popup__field-error.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/__title/_add-card/popup__title_add-card.css");
@import url("./blocks/popup/__image-full/popup__image-full.css");
@import url("./blocks/popup/__image-sign/popup__image-sign.css");
@import url("./blocks/footer/__copyright/footer__copyright.css");
