.profile__image-hover {
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  margin-left: 50px;
  opacity: 1;
  z-index: 0;
}
.profile__image-hover:hover {
  cursor: pointer;
  z-index: 2;
}
