.popup__field {
  width: 353px;
  padding: 0 0 10px 0;
  margin-bottom: 30px;
  border: none;
  background-color: #FFFFFF;
  appearance: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

@media screen and (max-width: 680px) {
  .popup__field {
    width: 238px;
  }
}
.popup__field:valid {
  border-bottom: 1px solid #000000;
}
